h1 {
    text-transform: uppercase;
    text-align: center;
}

div { 
     /* background-image: url(winter.jpg);  */
     /* background-position: center; */
    /* opacity: .5;  */
    /* background-repeat: no-repeat;  */
     background-image: linear-gradient(to bottom right, aqua, rgb(177, 69, 87)); 
      height:100vh ;  
}


ul[target]{
text-align: center;
}

img{
    -webkit-filter:grayscale (100%) ; /*grayscale (100%)blur(5px)*/
     filter: grayscale (100%);/* grayscale (100%)  */
}

